# Python/Data Science gitignore
venv/
.env
__pycache__/
*.pyc
.ipynb_checkpoints/
.pytest_cache/

# Data and Artifacts (DVC managed)
# We ignore the actual data but KEEP the .dvc configuration and metadata
malicious_phish.csv
/.dvc/cache/
/.dvc/tmp/
/mlruns/
/models/
/exports/
/artifacts/
/logs/
*.sav
*.pkl

# IDEs
.vscode/
.idea/
.DS_Store

#ipynb file
malicious-url-detection.ipynb