# Python/Data Science gitignore
venv/
.env
__pycache__/
*.pyc
.ipynb_checkpoints/
.pytest_cache/

# Data and Artifacts (DVC managed or local)
malicious_phish.csv/
mlruns/
models/
exports/
artifacts/
.dvc/
*.sav
*.pkl

# IDEs
.vscode/
.idea/
.DS_Store

#ipynb file
malicious-url-detection.ipynb